:root {
    --txt-1: hsl(0, 0%, 100%);
    --txt-2: hsl(0, 0%, 65%);

    --bck-1: hsl(0, 0%, 0%);
    --bck-1-hov: hsla(0, 0%, 100%, 0.08);
    --bck-1-act: hsla(0, 0%, 100%, 0.06);

    --bck-2: hsl(0, 0%, 10%);
    --bck-2-hov: hsl(0, 0%, 5%);
    --bck-2-act: hsl(0, 0%, 0%);

    --brd-1: hsl(0, 0%, 20%);
    --brd-2: hsl(0, 0%, 30%);

    --cl-1-bck: hsl(198, 100%, 20%);
    --cl-1-bck-hov: hsl(198, 100%, 45%);
    --cl-1-bck-act: hsl(198, 100%, 35%);
    --cl-1-bck-gls: hsla(198, 100%, 35%, 0.2);
    --cl-1-txt: hsl(198, 100%, 90%);

    --scroll-bck: hsl(0, 0%, 13%);
    --scroll-tmb-bck: hsl(0, 0%, 40%);
    --scroll-tmb-bck-hov: hsl(0, 0%, 50%);
    --scroll-tmb-bck-act: hsl(0, 0%, 60%);

    --rds-1: 4px;
    --rds-2: 8px;
    --rds-3: 16px;

    --spd-1: 0.2s;
    --spd-2: 0.5s;
}
