body {
    font-family: englishFont;
    line-height: 1.5;
}
span.icon {
    margin: -2px 5px 0 0;
}
strong.softSkill {
    float: left;
    margin: 0 10px 0 0;
    text-align: right;
}
.range > span {
    float: left;
}
img.uniLogo {
    float: left;
}
.uniInfo {
    margin: 0 0 0 20px;
}
.line {
    right: unset;
    left: 20px;
}
.jobItem {
    margin: 0 10px 0 50px;
}
.jobItem::before {
    right: unset;
    left: -34px;
}
h4.jobTitle {
    float: left;
}
.time {
    text-align: right;
}
a.certificate, a.certificate:link, a.certificate:visited {
    float: left;
    margin: 10px 10px 0 0;
}
a.link::before {
    margin: 0 5px 0 0;
}
p.exampleBody {
    text-align: left;
}
.showLink {
    left: unset;
    right: 10px;
}
.showLink::after {
    content: "";
    margin: 0 0 0 3px;
}
@media only screen and (max-width: 800px) {
    strong.softSkill {
        text-align: left;
    }
    .line {
        left: 0;
    }
    .jobItem {
        margin: 0 0 0 20px;
    }
    .jobItem::before {
        left: -24px;
    }
    .time {
        text-align: left;
    }
}
