@media only screen and (max-width: 1200px) {
    .examples {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 800px) {
    body {
        flex-wrap: wrap;
    }
    .menu {
        width: 100%;
        min-height: auto;
    }
    img.mainImage {
        width: calc(100% - 170px);
        margin: 30px 60px 15px;
    }
    h1.name {
        font-size: 2rem;
    }
    .main {
        width: 100%;
        padding: 20px 0;
    }
    .row {
        grid-template-columns: 1fr;
    }
    .box {
        border-radius: 0;
    }
    .boxContent {
        margin: 20px;
    }
    .softSkillItem {
        flex-direction: column;
        align-items: start;
        gap: 5px;
        padding: 8px 0;
    }
    strong.softSkill {
        width: auto;
    }
    .iconBox {
        grid-template-columns: 1fr 1fr;
        margin: 0px 20px;
    }
    .iconBoxNumber {
        font-size: 4rem;
    }
    .iconBoxTitle {
        font-size: 1rem;
    }
    .line {
        inset-inline-start: 0;
    }
    .jobItem {
        margin: 0;
        margin-inline-start: 20px;
    }
    .jobItem::before {
        inset-inline-start: -24px;
    }
    .jobHeader {
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }
    .projectItem {
        padding: 0 0 20px 0;
        margin-bottom: 20px;
    }
    .projectItem:last-child {
        margin: 0;
        padding: 0;
    }
    .examples {
        grid-template-columns: 1fr;
    }
    .source {
        margin: 0 20px;
    }
}
