@media only screen and (max-width: 1200px) {
    .examples {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 800px) {
    body {
        flex-wrap: wrap;
    }
    .menu {
        width: 100%;
        min-height: auto;
    }
    .socials {
        margin: 30px 0;
    }
    .main {
        width: 100%;
        padding: 20px 0;
    }
    .row {
        grid-template-columns: 1fr;
    }
    .box {
        width: 100%;
        border-radius: 0;
    }
    .boxContent {
        width: calc(100% - 40px);
        margin: 20px;
    }
    .softSkillItem {
        margin-bottom: 10px;
    }
    strong.softSkill {
        text-align: right;
    }
    .range {
        width: 100%;
        margin-top: 5px;
    }
    img.uniLogo {
        width: 45px;
    }
    .uniInfo {
        width: calc(100% - 85px);
    }
    .uniInfoItem {
        margin: 5px 0;
    }
    .line {
        right: 0;
    }
    .jobItem {
        width: calc(100% - 20px);
        margin: 0px 20px 0 0;
    }
    .jobItem::before {
        right: -24px;
    }
    h4.jobTitle {
        width: 100%;
    }
    .time {
        width: 100%;
        text-align: right;
        margin-top: 10px;
    }
    .projectItem {
        width: 100%;
        padding: 0 0 20px 0;
        margin-bottom: 20px;
    }
    .projectItem:last-child {
        margin: 0;
        padding: 0;
    }
    .projectItem p.description {
        margin: 5px 0;
    }
    .examples {
        grid-template-columns: 1fr;
    }
}
