@font-face {
    font-family: "persianFont";
    src: url("../fonts/iranyekanwebregular.woff2");
}
@font-face {
    font-family: "persianFont";
    src: url("../fonts/iranyekanwebbold.woff2");
    font-weight: bold;
}
@font-face {
    font-family: "englishFont";
    src: url("../fonts/sf-pro-display-regular.woff");
}
@font-face {
    font-family: "englishFont";
    src: url("../fonts/sf-pro-display-bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: "codeFont";
    src: url("../fonts/jet-brains-mono-medium.woff2");
}
* {
    transition: background-color var(--spd-1);
}
html {
    height: 100%;
    background-color: var(--bck-1);
    color: var(--txt-1);
}
body {
    display: flex;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    padding: 0;
    font-size: 1rem;
}
body.fa {
    font-family: persianFont;
}
body.en {
    font-family: englishFont;
    line-height: 1.5;
}
a, a:link, a:visited {
    display: block;
    color: var(--txt-1);
    text-decoration: none;
}
p {
    float: right;
    margin: 0;
}
.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* Menu */
.menu {
    position: relative;
    width: 300px;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--cl-1-bck);
}
a.changetThemeBtn, a.changetThemeBtn:link, a.changetThemeBtn:visited {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
a.changetThemeBtn svg {
    display: none;
}
a.changetThemeBtn svg.active {
    display: block;
}
a.lang, a.lang:link, a.lang:visited {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px 10px;
    direction: ltr;
    font-family: englishFont;
}
img.mainImage {
    display: block;
    width: calc(100% - 110px);
    margin: 30px 30px 15px;
    border: 10px solid var(--bck-1);
    padding: 15px;
    border-radius: 50%;
}
h1.name {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}
h2.title {
    padding: 15px 0;
    margin: 20px 0;
    font-size: 1.25rem;
    text-align: center;
    background-color: var(--bck-2);
    color: var(--cl-1-txt);
}
address.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 20px;
    font-style: normal;
}
.infoItem {
    display: flex;
    align-items: center;
    gap: 8px;
}
.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px 0;
}
.socialsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 270px;
}
a.socialItem, a.socialItem:link, a.socialItem:visited {
    display: flex;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--bck-2);
    color: var(--cl-1-txt);
}
a.socialItem:hover {
    background-color: var(--bck-2-hov);
}
a.socialItem:active {
    transition: none;
    background-color: var(--bck-2-act);
}
.otherSocial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 25px 0;
    border-top: 1px solid var(--bck-2);
}
a.otherSocialItem, a.otherSocialItem:link, a.otherSocialItem:visited {
    display: flex;
    width: 30px;
    padding: 8px;
    border-radius: var(--rds-2);
    background-color: var(--bck-2);
}
a.otherSocialItem:hover {
    background-color: var(--bck-2-hov);
}
a.otherSocialItem:active {
    transition: none;
    background-color: var(--bck-2-act);
}
img.otherSocialImage {
    width: 100%;
    border-radius: var(--rds-1);
}
.messageSocial {
    display: flex;
    flex-direction: column;
    align-items: center;: center;
    gap: 10px;
    margin-bottom: 12px;
}
a.messageSocialItem, a.messageSocialItem:link, a.messageSocialItem:visited {
    direction: ltr;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 190px;
    padding: 12px;
    font-family: englishFont;
    border-radius: var(--rds-2);
    background-color: var(--bck-2);
    color: var(--cl-1-txt);
}
a.messageSocialItem:hover {
    background-color: var(--bck-2-hov);
}
a.messageSocialItem:active {
    transition: none;
    background-color: var(--bck-2-act);
}
img.messageSocialImage {
    width: 30px;
}
/* Main */
.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: left;
    width: calc(100% - 340px);
    padding: 20px;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    border-radius: var(--rds-3);
    background-color: var(--bck-1-hov);
}
h3.boxTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    margin: 0;
    color: var(--cl-1-bck-hov);
    background-color: var(--cl-1-bck-gls);
}
.boxContent {
    position: relative;
    margin: 16px;
}
.skill {
    float: left;
    margin: 5px;
    padding: 6px 10px 4px;
    font-family: codeFont;
    font-weight: normal;
    border-radius: var(--rds-2);
    background-color: var(--bck-1-act);
}
.softSkillItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}
strong.softSkill {
    float: right;
    width: 106px;
    text-align: left;
    font-weight: normal;
}
.fa strong.softSkill {
    text-align: left;
}
.en strong.softSkill {
    text-align: right;
}
.range {
    display: flex;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: var(--bck-1-act);
}
.range > span {
    height: 8px;
    border-radius: 4px;
    background-color: var(--cl-1-bck-act);
}
.university {
    display: flex;
    align-items: center;
    gap: 20px;
}
img.uniLogo {
    width: 60px;
    margin: 10px;
}
.uniInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.uniInfoItem {
    font-size: 0.875rem;
}
.uniInfoItem:first-child {
    font-size: 1rem;
    font-weight: bold;
}
.iconBox {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}
.iconBoxItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px 30px;
    border-radius: var(--rds-3);
    border: 5px solid var(--cl-1-bck-gls);
    background-color: var(--bck-1-hov);
}
.iconBoxNumber {
    direction: ltr;
    font-size: 4.5rem;
    color: var(--cl-1-bck-hov);
}
.iconBoxTitle {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}
.jobs, .projects {
    width: 100%;
}
.line {
    position: absolute;
    top: 8px;
    inset-inline-start: 20px;
    width: 3px;
    height: calc(100% - 16px);
    border-radius: 2px;
    background-color: var(--cl-1-bck);
}
.jobs {
    display: flex;
    flex-direction: column;
}
.jobItem {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    padding: 20px 0;
    margin: 0 10px;
    margin-inline-start: 50px;
    border-bottom: 1px solid var(--brd-1);
}
.jobItem:last-child {
    border: 0;
}
.jobItem::before {
    content: "";
    position: absolute;
    top: 28px;
    inset-inline-start: -34px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--cl-1-bck);
}
.jobHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4.jobTitle {
    margin: 0;
    font-size: 1.125rem;
    color: var(--cl-1-bck-hov);
}
.time {
    font-size: 0.875rem;
    color: var(--txt-2);
}
.company {
    margin: 10px 0;
}
p.description {
    font-size: 0.875rem;
    color: var(--txt-2);
}
a.certificate, a.certificate:link, a.certificate:visited {
    direction: ltr;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: start;
    padding: 8px 12px;
    margin: 10px 0 0;
    border-radius: var(--rds-2);
    font-family: englishFont;
    font-size: 0.875rem;
    background-color: var(--cl-1-bck-gls);
}
a.certificate:hover {
    background-color: var(--cl-1-bck-act);
}
.projectItem {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-bottom: 1px solid var(--brd-1);
}
.projectItem:last-child {
    border: 0;
}
h4.projectTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 10px 0;
    font-size: 1.125rem;
    color: var(--cl-1-bck-hov);
}
.projectItem p.description {
    font-size: 1rem;
    color: var(--txt-1);
}
.projectLinkBox {
    display: flex;
    gap: 5px;
    float: right;
    width: 100%;
    margin: 10px 0;
}
.projectLinkTitle {
    flex: 0 0 35px;
    font-weight: bold;
}
a.projectLink, a.projectLink:link, a.projectLink:visited {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    color: var(--cl-1-bck-hov);
}
a.projectLink:hover {
    color: var(--cl-1-bck-act);
}
a.projectLink:active {
    color: var(--cl-1-bck);
}
.examples {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-columns: auto;
    gap: 15px;
    margin: 15px 0;
}
.example {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: var(--rds-3);
    background-color: var(--bck-1-act);
}
a.link, a.link:link, a.link:visited {
    padding: 10px 10px;
    font-size: 0.875rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: var(--rds-2);
    background-color: var(--bck-1-hov);
    transition: color 0.2s;
}
a.link:hover {
    color: var(--cl-1-bck-hov);
}
a.link:active {
    color: var(--cl-1-bck-act);
}
p.exampleBody {
    display: flex;
    flex-grow: 1;
    padding: 0 5px;
    font-size: 0.875rem;
}
.showLink {
    display: flex;
    align-items: center;
    align-self: end;
    gap: 4px;
    margin: 0 5px;
    font-size: 0.875rem;
    cursor: pointer;
    color: var(--cl-1-bck-hov);
}
.showLink:hover {
    color: var(--cl-1-bck);
}
.source {
    display: flex;
    gap: 5px;
    margin: 0 10px;
}
h4.sourceTitle {
    flex-shrink: 0;
    margin: 0;
}
