@font-face {
    font-family: "persianFont";
    src: url("../fonts/dana-regular.woff2");
}
@font-face {
    font-family: "englishFont";
    src: url("../fonts/sf-pro-display-regular.woff");
}
@font-face {
    font-family: "englishFont";
    src: url("../fonts/sf-pro-display-bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: "myIcon";
    src: url("../fonts/bootstrap-icons.woff");
}

@font-face {
    font-family: "codeFont";
    src: url("../fonts/jet-brains-mono-medium.woff2");
}
* {
    transition: background-color var(--spd-1);
}
html {
    height: 100%;
    background-color: var(--bck-1);
    color: var(--txt-1);
}
body {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 2000px;
    margin: auto;
    padding: 0;
    font-family: persianFont;
    font-size: 1rem;
}
a, a:link, a:visited {
    color: var(--txt-1);
    text-decoration: none;
}
span.icon {
    display: inline-block;
    font-family: myIcon;
    vertical-align: middle;
    margin-left: 10px;
}
span.text {
    display: inline-block;
    vertical-align: middle;
}
p {
    float: right;
    width: 100%;
    margin: 0;
    text-align: justify;
}
select {
    float: left;
    width: 92px;
    padding: 5px 10px;
    font-family: persianFont;
    border-radius: var(--rds-2);
    background-color: var(--bck-1);
}
/* Menu */
.menu {
    position: relative;
    width: 300px;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--cl-1-bck);
}
a.changetThemeBtn, a.changetThemeBtn:link, a.changetThemeBtn:visited {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-family: myIcon;
}
a.lang, a.lang:link, a.lang:visited {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 7px 10px;
    direction: ltr;
}
a.lang > span.icon {
    margin: 0;
}
a.lang > span.text {
    margin-top: 5px;
}
img.mainImage {
    float: right;
    width: calc(100% - 110px);
    margin: 30px 30px 15px;
    border: 10px solid var(--bck-1);
    padding: 15px;
    border-radius: 50%;
}
h1.name {
    float: right;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    text-align: center;
}
h2.title {
    float: right;
    width: 100%;
    padding: 15px 0;
    margin: 15px 0;
    font-size: 1.25rem;
    text-align: center;
    background-color: var(--bck-2);
    color: var(--cl-1-txt);
}
address.info {
    float: right;
    width: calc(100% - 40px);
    padding: 0 20px;
    font-style: normal;
}
.infoItem {
    display: flex;
    align-items: center;
    float: right;
    width: 100%;
    margin: 5px 0;
}
.socials {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 25px 0;
}
a.socialItem, a.socialItem:link, a.socialItem:visited {
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    font-family: myIcon;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: var(--bck-2);
    color: var(--cl-1-txt);
}
a.socialItem:hover {
    background-color: var(--bck-2-hov);
}
a.socialItem:active {
    transition: none;
    background-color: var(--bck-2-act);
}
/* Main */
.main {
    float: left;
    width: calc(100% - 340px);
    padding: 20px;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.box {
    float: right;
    padding: 16px 0 0;
    border-radius: var(--rds-3);
    background-color: var(--bck-1-hov);
}
h3.boxTitle {
    float: right;
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin: 0;
    color: var(--cl-1-bck-hov);
    background-color: var(--cl-1-bck-gls);
}
h3.boxTitle > span.icon {
    font-weight: normal;
}
.boxContent {
    position: relative;
    float: right;
    width: calc(100% - 32px);
    margin: 16px;
}
.skill {
    float: left;
    margin: 5px;
    padding: 6px 10px 4px;
    font-family: codeFont;
    border-radius: var(--rds-2);
    background-color: var(--bck-1-act);
}
.softSkillItem {
    float: right;
    width: 100%;
    margin: 5px 0;
}
strong.softSkill {
    float: right;
    width: 100px;
    margin-left: 10px;
    text-align: left;
    font-weight: normal;
}
.range {
    float: left;
    width: calc(100% - 110px);
    height: 8px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: var(--bck-1-act);
}
.range > span {
    float: right;
    height: 8px;
    border-radius: 4px;
    background-color: var(--cl-1-bck-act);
}
img.uniLogo {
    float: right;
    width: 60px;
    margin: 10px;
}
.uniInfo {
    float: right;
    width: calc(100% - 100px);
    margin-right: 20px;
}
.uniInfoItem {
    float: right;
    width: 100%;
    margin: 8px 0;
    font-size: 0.875rem;
}
.uniInfoItem:first-child {
    font-size: 1rem;
    font-weight: bold;
}
.jobs, .projects {
    width: 100%;
    margin-bottom: 20px;
}
.line {
    position: absolute;
    top: 8px;
    right: 20px;
    width: 3px;
    height: calc(100% - 16px);
    border-radius: 2px;
    background-color: var(--cl-1-bck);
}
.jobItem {
    position: relative;
    float: right;
    width: calc(100% - 60px);
    margin: 0 50px 0 10px;
    padding: 20px 0;
    border-bottom: 1px solid var(--brd-1);
}
.jobItem:last-child {
    border: 0;
}
.jobItem::before {
    content: "";
    position: absolute;
    top: 28px;
    right: -34px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--cl-1-bck);
}
h4.jobTitle {
    float: right;
    width: calc(100% - 200px);
    margin: 0;
    font-size: 1.125rem;
    color: var(--cl-1-bck-hov);
}
.time {
    float: left;
    width: 200px;
    margin-top: 5px;
    font-size: 0.875rem;
    text-align: left;
    color: var(--txt-2);
}
.company {
    float: left;
    width: 100%;
    margin: 10px 0;
}
p.description {
    font-size: 0.875rem;
    color: var(--txt-2);
}
.projectItem {
    float: right;
    width: calc(100% - 20px);
    padding: 20px 10px;
    border-bottom: 1px solid var(--brd-1);
}
.projectItem:last-child {
    border: 0;
}
h4.projectTitle {
    float: right;
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 1.125rem;
    color: var(--cl-1-bck-hov);
}
.projectItem p.description {
    font-size: 1rem;
    color: var(--txt-1);
}
.projectLinkBox {
    display: flex;
    gap: 10px;
    float: right;
    width: 100%;
    margin: 10px 0;
}
.projectLinkTitle {
    flex: 0 0 35px;
    font-weight: bold;
}
a.projectLink, a.projectLink:link, a.projectLink:visited {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    color: var(--cl-1-bck);
}
a.projectLink:hover {
    color: var(--cl-1-bck-hov);
}
a.projectLink:active {
    color: var(--cl-1-bck-act);
}
.examples {
    float: right;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 15px 0;
}
.example {
    position: relative;
    overflow: hidden;
    border-radius: var(--rds-3);
    background-color: var(--bck-1-act);
}
a.link, a.link:link, a.link:visited {
    float: right;
    width: calc(100% - 30px);
    padding: 10px 15px;
    font-size: 0.875rem;
    background-color: var(--bck-2);
    color: var(--cl-1-txt);
}
a.link:hover {
    background-color: var(--bck-2-hov);
}
a.link:active {
    background-color: var(--bck-2-act);
}
a.link::before {
    content: "";
    margin-left: 5px;
    font-family: myIcon;
    font-size: 1.25rem;
    vertical-align: middle;
}
p.exampleBody {
    float: right;
    width: calc(100% - 30px);
    padding: 15px;
    margin-bottom: 30px;
    font-size: 0.875rem;
}
.showLink {
    position: absolute;
    left: 10px;
    bottom: 10px;
    float: left;
    font-size: 0.875rem;
    cursor: pointer;
    color: var(--cl-1-bck-hov);
}
.showLink:hover {
    color: var(--cl-1-bck);
}
.showLink::after {
    content: "";
    margin-right: 3px;
    font-family: myIcon;
    vertical-align: middle;
}
a.certificate, a.certificate:link, a.certificate:visited {
    float: right;
    padding: 6px 10px 4px;
    margin: 10px 0 0 10px;
    border-radius: var(--rds-2);
    font-size: 0.875rem;
    background-color: var(--cl-1-bck-gls);
}
a.certificate:hover {
    background-color: var(--cl-1-bck-act);
}
a.certificate::after {
    content: "";
    margin-left: 5px;
    font-family: myIcon;
    vertical-align: middle;
}
/* Desktop */
@media only screen and (min-width: 800px) {
    *:not(.scroll)::-webkit-scrollbar {
        width: 4px;
        height: 100%;
    }
    *:not(.scroll)::-webkit-scrollbar-track {
        background: var(--scroll-bck);
        border-radius: var(--rds-1);
    }
    *:not(.scroll)::-webkit-scrollbar-thumb {
        background: var(--scroll-tmb-bck);
        border-radius: var(--rds-1);
    }
    *:not(.scroll)::-webkit-scrollbar-thumb:hover {
        background: var(--scroll-tmb-bck-hov);
    }
    *:not(.scroll)::-webkit-scrollbar-thumb:active {
        background: var(--scroll-tmb-bck-act);
    }
    body::-webkit-scrollbar {
        width: 10px !important;
    }
    body::-webkit-scrollbar-track {
        border-radius: 0 !important;
    }
    body::-webkit-scrollbar-thumb {
        border-radius: 0 !important;
    }
}
